body{
    background: linear-gradient(135deg,rgb(0, 0, 0),rgb(0, 0, 0), rgb(255, 0, 0),rgb(0, 0, 0),rgb(0, 0, 0));
    color: aliceblue;
}

.volver{
    -webkit-text-stroke: 1px rgb(125, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}

#primercaja{
    border: 1px solid #5f1919;
    position: relative;
    display: grid;
    width: 97vw;
    height: 123vh;
    grid-template-columns:  10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    margin-bottom: 1em;
}

#segundacaja{
    border: 1px solid #5f1919;
    position: relative;
    display: grid;
    width: 97vw;
    height: 128vh;
    grid-template-columns:  10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    margin-bottom: 1em;
}

#fotop{
    position: absolute;
    grid-area: 1 / 1 / 10 / span 3 ; 
    display: flex;
    flex-direction: column;
    column-count: 1;
}


#tarjetas{
    border: 1px solid #5f1919;
    grid-area: 4 / 1 / span 10 / span 3 ; 
}
#nombre{
    border: 1px solid #5f1919;
    grid-area: 1 / 4 / span 6 / span 7 ; /* comienza en la fila 1 de la columna 1 y abarca 1 fila y 3 columnas */
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 925px;
}


.info{
    border: 1px solid #5f1919;
    margin-top: 1em;
    height: 19em;
    width: 50em;
}
.origen{
    border: 1px solid #5f1919;
    margin-top: 1em;
    height: 18.5em;
    width: 1em;
} 

.datos{
    border: 1px solid #5f1919;
    margin-top: 1em;
    height: 18em;
    width: 1em;
}

h1{
    position: absolute;
    justify-content: center;
    text-align: center;
    top: -0.8em;
}

#nombre2{
    border: 1px solid #5f1919;
    grid-area: 1 / 4 / span 6 / span 7 ; /* comienza en la fila 1 de la columna 1 y abarca 1 fila y 3 columnas */
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1325px;
    height: 500px;
    left: -43%;
}


#nombre3{
    border: 1px solid #5f1919;
    grid-area: 7 / 4 / span 4 / span 7 ; 
    position: relative;
    display: flex;
    top: -33%;
    left: -43%;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 1325px;
}

#nombre4{
    border: 1px solid #5f1919;
    grid-area: 7 / 4 / span 4 / span 7 ; 
    position: relative;
    display: flex;
    top: 10%;
    left: -43%;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 1325px;
}
#album{
    border: 1px solid #5f1919;
    margin-top: 1em;
    height: 11.2em;
    width: 12em;
}

.scroll-div{
    width: 400px;
    height: 352px;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-div2{
    border: 1px solid #5f1919;
    width: 1000px;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}
.scroll-div3{
    border: 1px solid #5f1919;
    width: 800px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.contenedor {
    position: relative;
    transform: translate(-50%,-50%);
    bottom: 5%;
    left: -20%;
    display: grid;
    grid-template-rows: repeat(2, 1fr); /* Crea 4 filas de igual altura */
    grid-template-columns: repeat(5, 1fr); /* Crea 4 columnas de igual ancho */
    column-gap: 20px; /* Espacio entre las celdas */
    width: 150px; /* Ancho del contenedor */
    height: 150px; /* Altura del contenedor */
}

.contenedor2 {
    position: relative;
    transform: translate(-50%,-50%);
    bottom: -20%;
    left: -20%;
    display: grid;
    grid-template-rows: repeat(5, 1fr); /* Crea 4 filas de igual altura */
    grid-template-columns: repeat(5, 1fr); /* Crea 4 columnas de igual ancho */
    gap: 20px; /* Espacio entre las celdas */
    width: 150px; /* Ancho del contenedor */
    height: 150px; /* Altura del contenedor */
}

.celda {
    border: 1px solid #5f1919;
    padding: 0px ;
    text-align: center;
}

.blog-card {
    border: 1px solid #5f1919;
    width: 27.5vw;
    height: 50vh;
    position: relative;
    font-family: 'Droid Serif', serif;
    color:#fff;
    bottom: 0%;
    left: 0%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 3em;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition:all 0.4s;
    background: url(https://www.cmtv.com.ar/imagenes_artistas/275.webp?Skay%20Beilinson) center no-repeat;
    background-size: 115%;
}

.blog-card a{ 
    color:#fff;
    text-decoration:none;
    transition:all 0.2s
}
.blog-card .color-overlay {
    background: rgba(64, 84, 94,0.5);
    width: 500px;
    height: 600px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}
.blog-card .gradient-overlay {  
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
    width: 500px;
    height: 500px;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 15;
}
.blog-card:hover{
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.blog-card:hover .card-info {
    opacity: 1;
    bottom: 100px;
}   
.blog-card:hover .color-overlay {
    background: rgba(64, 64, 70,0.8);
}
.blog-card:hover .title-content{
    margin-top:70px
}
.title-content {
    text-align: top;
    margin: 170px 0 0 0;
    position: relative;
    z-index: 20;
    width: 100%;
    top: 50%;
    left: 0;
    transition:all 0.6s
}


.blog-card:hover h3:after{
    animation: changeLetter 0.3s 1 linear;
    width:80%
}

.blog-card h3,h1 {
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Abril Fatface', serif;
    margin-bottom: 0;
    display:inline-block;
}
.blog-card h3 a{  
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
    transition:all 0.2s
}
.blog-card h3 a:hover{
    text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
h3:after {
    content: " ";
    display: block; 
    width: 10%;
    height: 2px;
    margin: 20px auto;
    border: 0;
    background: #BDA26B;
    transition:all 0.2s
}

@keyframes changeLetter {
    0% {
    width: 10%;
    }
    100% {
    width: 100%;
    }
}


.card-info {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 1%;
    left: 0;
    margin: 0 auto;
    padding: 0px 100px 20px -50px;
    font-style: 16px;
    line-height: 24px;
    z-index: 20;
    opacity: 0;
    transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info a{
    display:block;
    width:100px;
    margin:15px auto;
    background:#fff;
    color:#444;
    padding:3px 10px;
    border-radius:2px;
    font-size:0.8em
}
.card-info a:hover{
    background: #8e7c49;
    color:#fff;
}
.card-info a:hover span{
    filter: brightness(10);
    opacity:1
}
.utility-info {
    position: relative;
    bottom: 0px;
    left: 0;
    z-index: 20;
    width:100%;
    text-align:left
}
.utility-info:after{
    content:" ";
    background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg) center no-repeat;
    background-size: 30px auto;
    display:block;
    opacity: 0.4;
    position:absolute;
    bottom:25px;
    right:15px;
    width:30px;
    height:15px
}
.utility-info a:hover{
    text-decoration:underline
}
.utility-list {
    list-style-type: none;
    margin: 0 0 10px 20px;
    padding: 0;
    width: 100%;

}
.utility-list li {
    margin: 0 5px 0 0;
    padding: 3px 0 15px 0px;
    display: inline-block;
    font-size:0.8em
}

/* fin tarjeta*/


/* tarjeta 2*/
.blog-card2 {
    border: 1px solid #5f1919;
    width: 27.5vw;
    height: 60vh;
    position: relative;
    font-family: 'Droid Serif', serif;
    color:#fff;
    bottom: 0%;
    left: 0%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 3em;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition:all 0.4s;
    background: url(https://www.cmtv.com.ar/imagenes_artistas/2155.webp?Semilla%20Bucciarelli) center no-repeat;
    background-size: 115%;
}

.blog-card2 a{ 
    color:#fff;
    text-decoration:none;
    transition:all 0.2s
}
.blog-card2 .color-overlay2 {
    background: rgba(64, 84, 94,0.5);
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}
.blog-card2 .gradient-overlay2 {  
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
    width: 500px;
    height: 500px;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 15;
}
.blog-card2:hover{
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.blog-card2:hover .card-info2 {
    opacity: 1;
    bottom: 100px;
}   
.blog-card2:hover .color-overlay2 {
    background: rgba(64, 64, 70,0.8);
}
.blog-card2:hover .title-content2{
    margin-top:70px
}
.title-content2 {
    text-align: top;
    margin: 170px 0 0 0;
    position: relative;
    z-index: 20;
    width: 100%;
    top: 55%;
    left: 0;
    transition:all 0.6s
}


.blog-card2:hover h3:after{
    animation: changeLetter 0.3s 1 linear;
    width:80%
}

.blog-card2 h3,h1 {
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Abril Fatface', serif;
    margin-bottom: 0;
    display:inline-block;
}
.blog-card2 h3 a{  
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
    transition:all 0.2s
}
.blog-card2 h3 a:hover{
    text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
h3:after {
    content: " ";
    display: block; 
    width: 10%;
    height: 2px;
    margin: 20px auto;
    border: 0;
    background: #BDA26B;
    transition:all 0.2s
}

@keyframes changeLetter {
    0% {
    width: 10%;
    }
    100% {
    width: 100%;
    }
}


.card-info2 {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 1%;
    left: 0;
    margin: 0 auto;
    padding: 0px 100px 20px -50px;
    font-style: 16px;
    line-height: 24px;
    z-index: 20;
    opacity: 0;
    transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info2 a{
    display:block;
    width:100px;
    margin:15px auto;
    background:#fff;
    color:#444;
    padding:3px 10px;
    border-radius:2px;
    font-size:0.8em
}
.card-info2 a:hover{
    background: #8e7c49;
    color:#fff;
}
.card-info2 a:hover span{
    filter: brightness(10);
    opacity:1
}
.utility-info2 {
    position: relative;
    bottom: 0px;
    left: 0;
    z-index: 20;
    width:100%;
    text-align:left
}
.utility-info2:after{
    content:" ";
    background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg) center no-repeat;
    background-size: 30px auto;
    display:block;
    opacity: 0.4;
    position:absolute;
    bottom:25px;
    right:15px;
    width:30px;
    height:15px
}
.utility-info2 a:hover{
    text-decoration:underline
}
.utility-list2 {
    list-style-type: none;
    margin: 0 0 10px 20px;
    padding: 0;
    width: 100%;

}
.utility-list2 li {
    margin: 0 5px 0 0;
    padding: 3px 0 15px 0px;
    display: inline-block;
    font-size:0.8em
}

/* fin de tarjeta 2*/

/* tarjeta 3*/
.blog-card3 {
    border: 1px solid #5f1919;
    width: 27.5vw;
    height: 30vh;
    position: relative;
    font-family: 'Droid Serif', serif;
    color:#fff;
    bottom: 0%;
    left: 0%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 3em;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition:all 0.4s;
    background: url(https://www.lavoz.com.ar/resizer/AELs0Cl9cI3-0yb4zx7gEtuVEqg=/1023x681/smart/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/4V33WAHB4NAHXLD5ZX7KQKBFCM.jpg) center no-repeat;
    background-size: 100%;
}

.blog-card3 a{ 
    color:#fff;
    text-decoration:none;
    transition:all 0.2s
}
.blog-card3 .color-overlay3 {
    background: rgba(64, 84, 94,0.5);
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}
.blog-card3 .gradient-overlay3 {  
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
    width: 500px;
    height: 500px;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 15;
}
.blog-card3:hover{
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.blog-card3:hover .card-info3 {
    opacity: 1;
    bottom: 100px;
}   
.blog-card3:hover .color-overlay3 {
    background: rgba(64, 64, 70,0.8);
}
.blog-card3:hover .title-content3{
    margin-top:70px
}
.title-content3 {
    text-align: top;
    margin: 170px 0 0 0;
    position: relative;
    z-index: 20;
    width: 100%;
    top: -5%;
    left: 0;
    transition:all 0.6s
}


.blog-card3:hover h3:after{
    animation: changeLetter 0.3s 1 linear;
    width:80%
}

.blog-card3 h3,h1 {
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Abril Fatface', serif;
    margin-bottom: 0;
    display:inline-block;
}
.blog-card3 h3 a{  
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
    transition:all 0.2s
}
.blog-card3 h3 a:hover{
    text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
h3:after {
    content: " ";
    display: block; 
    width: 10%;
    height: 2px;
    margin: 20px auto;
    border: 0;
    background: #BDA26B;
    transition:all 0.2s
}

@keyframes changeLetter {
    0% {
    width: 10%;
    }
    100% {
    width: 100%;
    }
}


.card-info3 {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 5%;
    left: 0;
    margin: 0 auto;
    padding: 0px 100px 20px -50px;
    font-style: 16px;
    line-height: 24px;
    z-index: 20;
    opacity: 0;
    transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info3 a{
    display:block;
    width:100px;
    margin:15px auto;
    background:#fff;
    color:#444;
    padding:3px 10px;
    border-radius:2px;
    font-size:0.8em
}
.card-info3 a:hover{
    background: #8e7c49;
    color:#fff;
}
.card-info3 a:hover span{
    filter: brightness(10);
    opacity:1
}
.utility-info3 {
    position: relative;
    bottom: 0px;
    left: 0;
    z-index: 20;
    width:100%;
    text-align:left
}
.utility-info3:after{
    content:" ";
    background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg) center no-repeat;
    background-size: 30px auto;
    display:block;
    opacity: 0.4;
    position:absolute;
    bottom:25px;
    right:15px;
    width:30px;
    height:15px
}
.utility-info3 a:hover{
    text-decoration:underline
}
.utility-list3 {
    list-style-type: none;
    margin: 0 0 10px 20px;
    padding: 0;
    width: 100%;

}
.utility-list3 li {
    margin: 0 5px 0 0;
    padding: 3px 0 15px 0px;
    display: inline-block;
    font-size:0.8em
}

/* fin tarjeta 3*/

/* tarjeta 4*/
.blog-card4 {
    border: 1px solid #5f1919;
    width: 27.5vw;
    height: 41vh;
    position: relative;
    font-family: 'Droid Serif', serif;
    color:#fff;
    bottom: 0%;
    left: 0%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 3em;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition:all 0.4s;
    background: url(https://inamu.musica.ar/uploads/paginas/imagenes/lg/ec89eadc19633999f5c9f6e286c76cdd.jpg) center no-repeat;
    background-size: 100%;
}

.blog-card4 a{ 
    color:#fff;
    text-decoration:none;
    transition:all 0.2s
}
.blog-card4 .color-overlay4 {
    background: rgba(64, 84, 94,0.5);
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}
.blog-card4 .gradient-overlay4 {  
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
    width: 500px;
    height: 500px;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 15;
}
.blog-card4:hover{
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.blog-card4:hover .card-info4 {
    opacity: 1;
    bottom: 100px;
}   
.blog-card4:hover .color-overlay4 {
    background: rgba(64, 64, 70,0.8);
}
.blog-card4:hover .title-content4{
    margin-top:70px
}
.title-content4 {
    text-align: top;
    margin: 170px 0 0 0;
    position: relative;
    z-index: 20;
    width: 100%;
    top: 40%;
    left: 0;
    transition:all 0.6s
}


.blog-card4:hover h3:after{
    animation: changeLetter 0.3s 1 linear;
    width:80%
}

.blog-card4 h3,h1 {
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Abril Fatface', serif;
    margin-bottom: 0;
    display:inline-block;
}
.blog-card4 h3 a{  
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
    transition:all 0.2s
}
.blog-card4 h3 a:hover{
    text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
h3:after {
    content: " ";
    display: block; 
    width: 10%;
    height: 2px;
    margin: 20px auto;
    border: 0;
    background: #BDA26B;
    transition:all 0.2s
}

@keyframes changeLetter {
    0% {
    width: 10%;
    }
    100% {
    width: 100%;
    }
}

.card-info4 {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 5%;
    left: 0;
    margin: 0 auto;
    padding: 0px 100px 20px -50px;
    font-style: 16px;
    line-height: 24px;
    z-index: 20;
    opacity: 0;
    transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info4 a{
    display:block;
    width:100px;
    margin:15px auto;
    background:#fff;
    color:#444;
    padding:3px 10px;
    border-radius:2px;
    font-size:0.8em
}
.card-info4 a:hover{
    background: #8e7c49;
    color:#fff;
}
.card-info4 a:hover span{
    filter: brightness(10);
    opacity:1
}
.utility-info4 {
    position: relative;
    bottom: 0px;
    left: 0;
    z-index: 20;
    width:100%;
    text-align:left
}
.utility-info4:after{
    content:" ";
    background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg) center no-repeat;
    background-size: 30px auto;
    display:block;
    opacity: 0.4;
    position:absolute;
    bottom:25px;
    right:15px;
    width:30px;
    height:15px
}
.utility-info4 a:hover{
    text-decoration:underline
}
.utility-list4 {
    list-style-type: none;
    margin: 0 0 10px 20px;
    padding: 0;
    width: 100%;
}
.utility-list4 li {
    margin: 0 5px 0 0;
    padding: 3px 0 15px 0px;
    display: inline-block;
    font-size:0.8em
}
